In [1]:
import pandas as pd
import numpy as np

In [18]:
dataset = pd.read_csv('data/employees_dataset.csv')
#skills和work_experience列都是多给字符串用分号分隔，此处我想把这两列分别转换成技能个数和经验个数
dataset['skills']=dataset['skills'].map(lambda x:len(x.split(';')))
dataset['working_experience']=dataset['working_experience'].map(lambda x:len(x.split(';')))
dataset.head(10)

,degree,education,skills,working_experience,position
0,master,fudan university,19,3,dev
1,bachelor,inner mongolia university,12,3,dev
2,bachelor,shanghai university,15,2,dev
3,master,shanghai jiao tong university,8,2,dev
4,master,beijing university of post and telecommunications,19,1,dev
5,master,dalian university of technology,15,2,dev
6,master,beihang university,11,2,dev
7,master,university of california berkeley - walter a....,15,3,dev
8,master,nanjing university,5,2,dev
9,master,beijing institute of technology,8,3,dev

In [24]:
#对于其他列使用把不同类别映射成不同数字的方式
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y=le.fit_transform(dataset['position'].values)
used_features = ["degree", "education","skills","working_experience"]
X = dataset[used_features].values

In [29]:
X[:,0]=le.fit_transform(X[:,0])
X[:,1]=le.fit_transform(X[:,1])

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 0)# 按分割测试数据与训练数据

In [43]:
#训练模型
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [44]:
y_pred = gnb.predict(X_test)#预测测试数据

In [45]:
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
          .format(
              X_test.shape[0],
              (Y_test != y_pred).sum(),
              100*(1-(Y_test != y_pred).sum()/X_test.shape[0])
    ))

Number of mislabeled points out of a total 8 points : 4, performance 50.00%

In [46]:
from sklearn.linear_model import LogisticRegression 
lr = LogisticRegression(C=1e5)  
lr.fit(X_train,Y_train)
y_pred = lr.predict(X_test)#预测测试数据
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
          .format(
              X_test.shape[0],
              (Y_test != y_pred).sum(),
              100*(1-(Y_test != y_pred).sum()/X_test.shape[0])
    ))

Number of mislabeled points out of a total 8 points : 4, performance 50.00%

c:\users\thinking\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\thinking\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [47]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train,Y_train)
y_pred = clf.predict(X_test)#预测测试数据
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
          .format(
              X_test.shape[0],
              (Y_test != y_pred).sum(),
              100*(1-(Y_test != y_pred).sum()/X_test.shape[0])
    ))

Number of mislabeled points out of a total 8 points : 3, performance 62.50%